:root,.theme-light {
    --color-main: #f0f0f0;/*主要颜色*/
    --color-nav:#e5eff0;/*导航窗颜色*/
    --color-hover: #d0d0d0;/*悬浮颜色*/
    --color-cell:#c6eaf4;/*单元格的背景色*/
    --color-clicked: #b0c4de;/*鼠标按下去时的颜色颜色*/
    --color-edge: #979797;/*边框的颜色*/
    --color-text-main: #222222;/*主要文本的颜色*/
    --color-text-second: #555555;/*次级文本的颜色*/
    --color-stress:#00f2fe;/*强调色，比如现在在导航窗的哪个位置*/
    --color-super-stress:#4facfe;
    /* 超级强调(给 渐变 调用的) */
    --color-error:#e83232;
    /* 错误提示的文字颜色 */
}

/* 2. 黑金主题（暗色 + 金色点缀）以后再写 */

:root{
    --big-font:22px;
    --mid-font:18px;
    --little-font:15px;
    --border-radius:6px;
    --ease-time:0.15s;
}

.svg-button {
  align-items: center;
  justify-content: center;
  width: 30px; 
  height: 30px;
  color: var(--color-text-main);
  padding: 4px;

  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--ease-time) ease;
}

.svg-button:hover {
  background-color: var(--color-hover);
}