:root,.theme-light {
    --colorMain: #f0f0f0;/*主要颜色*/
    --colorNav:#e5eff0;/*导航窗颜色*/
    --colorHover: #d0d0d0;/*悬浮颜色*/
    --colorCell:#c6eaf4;/*单元格的背景色*/
    --colorClicked: #b0c4de;/*鼠标按下去时的颜色颜色*/
    --colorEdge: #979797;/*边框的颜色*/
    --colorTextMain: #222222;/*主要文本的颜色*/
    --colorTextSecond: #555555;/*次级文本的颜色*/
    --colorStress:#00f2fe;/*强调色，比如现在在导航窗的哪个位置*/
    --colorSuperStress:#4facfe;
    /* 超级强调(给 渐变 调用的) */
    --colorError:#e83232;
    /* 错误提示的文字颜色 */
}

/* 2. 黑金主题（暗色 + 金色点缀）以后再写 */

:root{
    --bigFont:22px;
    --midFont:18px;
    --littleFont:15px;
    --borderRadius:6px;
    --easeTime:0.15s;
}

.icon-svg{
    color: var(--colorTextMain);
    width: 25px;
    height: 25px;
    pointer-events: none;
}
